<div class="container">
    <h1>Post Details:</h1>
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Body</th>
            <th>Comments</th>
            <th>Action</th>
        </thead>
        <tbody>
            <td>{{postDetails.title}}</td>
            <td>{{postDetails.body}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="showComments(postDetails.id)">
                    Show Comments
                </button>
                <div id="demo" class="show">
                    <ul *ngIf="comments | async as comentz;else loading">
                        <ng-container>
                            <li class="" *ngFor="let cmnts of comentz">{{cmnts.body}}</li>
                        </ng-container>
                    </ul>
                    <ng-template #loading>
                        <div *ngIf="toggleSpinner">
                            <div class="spinner-border"></div>loading...
                        </div>
                    </ng-template>
                </div>
            </td>
            <td>
                <input type="button" class="btn btn-xs btn-danger" value="Delete"
                    (click)="delPost(postDetails.id,postDetails.userId)">
            </td>
        </tbody>
    </table>
</div>
<div *ngIf="showLoadingIndicator" class="spinner">Loading Posts</div>