<div class="container">
    <h1>Post Details:</h1>
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Body</th>
            <th>Comments</th>
            <th>Action</th>
        </thead>
        <tbody>
            <td>{{postDetails.title}}</td>
            <td>{{postDetails.body}}</td>
            <td>
                <button type="button" class="btn btn-primary" (click)="showComments(postDetails.id)"
                    data-toggle="collapse" data-target="#demo">
                    Show Comments
                </button>
                <div id="demo" class="collapse show">
                    <ul>
                        <li class="" *ngFor="let comments of comments">{{comments.body}}</li>
                    </ul>
                </div>
            </td>
            <td>
                <input type="button" class="btn btn-xs btn-danger" value="Delete"
                    (click)="delPost(postDetails.id,postDetails.userId)">
            </td>
        </tbody>
    </table>
</div>
<div *ngIf="showLoadingIndicator" class="spinner">Loading Posts</div>